.App {
    text-align: center;
    background-color: #253031;
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-link {
    color: #2978a0;
    font-size: 2em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg {
    height: 100vh;
}

.section-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content {
    background-color: #253031;
    border-radius: 3em;
    height: 20em;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
}

.welcome-txt {
    font-size: 4em;
}
